# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [54]:
# Set importing url
# Note: data stored as tsv 
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [102]:
# Read data in from url above 
# Data stored in tsv, identify tab separation during importing 
chipo = pd.read_csv(url,sep='\t')

### Step 4. See the first 10 entries

In [55]:
# Use head() function to see first 10 entries; 
# function defaults to 5, specify otherwise 
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [60]:
# Solution 1
# Use shape function and specify for number of rows/columns 
print(f"There are {chipo.shape[0]} rows and {chipo.shape[1]} columns.")
chipo.shape

There are 4622 rows and 5 columns.

(4622, 5)

In [61]:
# Solution 2
# Use info function to display info abt dataframe 
print("Size and information regarding dataset:\n")
chipo.info()

Size and information regarding dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 126.4+ KB

### Step 6. What is the number of columns in the dataset?

In [62]:
# Use shape function to specify number of columns 
print(f"There are {chipo.shape[1]} columns.")

There are 5 columns.

### Step 7. Print the name of all the columns.

In [63]:
print(f"Column names include:")
# Convert chipo.columns to a list and for each entry, print as column names 
for names in chipo.columns.tolist(): print(names)

Column names include:
order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [67]:
print(chipo.index)
print(f"The data set begins at index {chipo.index.start} and stops at "
      f"{chipo.index.stop} with increments of {chipo.index.step}.")

RangeIndex(start=0, stop=4622, step=1)
The data set begins at index 0 and stops at 4622 with increments of 1.

### Step 9. Which was the most-ordered item?

In [93]:
# Create a groupbydataframe, combining entries into groups by item_name
# Sum values and sort by quantity
# Note: item_name is being set as the index of the dataframe 
items = chipo.groupby('item_name')
items = items.sum()
items = items.sort_values(['quantity'], ascending=False)

print(items.columns)
print(f"The most frequently ordered item was the {items.index[0]}.")
#items.head()

# Set the column to a regular column again 
items_reset = items.reset_index()
print(items_reset.columns)

Index(['order_id', 'quantity'], dtype='object')
The most frequently ordered item was the Chicken Bowl.
Index(['item_name', 'order_id', 'quantity'], dtype='object')

### Step 10. For the most-ordered item, how many items were ordered?

In [48]:
print(f"The most-ordered item was ordered a total of {items.iloc[0,1]} times.")

The most-ordered item was ordered a total of 761 times.

### Step 11. What was the most ordered item in the choice_description column?

In [50]:
items = chipo.groupby('choice_description')
items = items.sum()
items = items.sort_values(['quantity'],ascending=False)
items.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [51]:
total_items = chipo.quantity.sum()
total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [103]:
chipo.item_price.dtype
# Note: output 'O' means object 
print(chipo.item_price)

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [104]:
# From solution:
# Defines a lamda function to take a single argument, x, and convert it to a float 
# Slices through the string to perform on second through penultimate characters
# Excludes $ and space 
dollarizer = lambda x: float(x[1:-1])
# Updates dataframe to apply the lambda function to the item_price column specifically
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [105]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [108]:
revenue = chipo['quantity']*chipo['item_price']
revenue = revenue.sum()
print(revenue)
print(f"Total revenue was: ${revenue}")

39237.02
Total revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [110]:
order = chipo.order_id.value_counts()
print(order)
order = order.count()
print(f"There were {order} orders in total")

926     23
1483    14
205     12
759     11
1786    11
        ..
768      1
341      1
1048     1
94       1
1199     1
Name: order_id, Length: 1834, dtype: int64
There were 1834 orders in total

### Step 16. What is the average revenue amount per order?

In [115]:
# Solution 1
print(f"Average revenue per order was ${round(revenue/order,2)}.")

Average revenue per order was $21.39.

In [124]:
# Solution 2
chipo['revenue']=chipo['quantity']*chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()
print(f"Average revenue per order was ${round(order_grouped.mean()['revenue'],2)}.")

Average revenue per order was $21.39.

In [127]:
# Solution 3 
print(f"Average revenue per order was ${round(chipo.groupby(by=['order_id']).sum().mean()['revenue'],2)}.")

Average revenue per order was $21.39.

### Step 17. How many different items are sold?

In [128]:
chipo.item_name.value_counts().count()

50